.main-info-left-collumn {
  margin-left: 305px;
  padding-left: 60px;
  margin-right: 50px;
  padding-right: 60px;
  padding-bottom: 60px;
  width: 931px;
  border: 1px solid white;
}

pre {
  background-color: #151515;
}

code {
  background-color: #181818;
}
.education-content {
}
.heading {
}
.about-me-content {
}
.code-example-content {
}
