.content-row {
  display: flex;
  flex-direction: row;
}
.main-info-left-collumn {
  padding-left: 305px;
  margin-left: 23px;
  padding-right: 50px;
  margin-right: 23px;
  width: 931px;
}

pre {
  background-color: #151515;
}

code {
  background-color: #181818;
}
.education-content {
}
.heading {
}
.about-me-content {
}
.code-example-content {
}
