.person-info {
  font-family: Oxygen, sans-serif;
  margin-left: 75px;
  margin-right: 75px;
  padding-top: 80px;
  border-bottom: 1px solid white;
}
.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-name {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  line-height: 123%;
}
.specialization {
  color: #ff8a00;
  font-weight: 700;
  font-size: 24px;
  line-height: 123%;
}
.addresses {
  font-weight: 400;
  font-size: 12px;
  color: #e9e9e9;
  text-align: end;
}
